body {
  font-family: Alkatra;
  background-image: linear-gradient(to bottom left, green, lightblue);
  text-align: left;
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: larger;
}

body > div {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 100%;
  border: 10px solid blueviolet;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: darkred;
  font-size: 4rem;
}

h2 {
  color: blueviolet;
}

h3 {
  color: blue;
}

h4 {
  color: darkgreen;
}

#privacy {
  grid-column-start: 1;
  grid-column-end: 3;
  color: grey;
  text-align: center;
}

a,
#mail {
  word-break: break-all;
}
