body {
  background-image: url(./assets/BG_Class.jpg);
  background-repeat: repeat;
  font-family: Alkatra;
  text-align: center;
}

h1 {
  font-family: Fasthand;
  color: darkred;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

fieldset {
  border-radius: 50px;
  background-color: cornsilk;
}

legend {
  color: darkred;
}

#buttons {
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: blueviolet;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  color: aqua;
}
